package {{Name}}

import (
	"fmt"
	{{di_go.Imports}}

	mCli "github.com/go-micro/microwire/cli"
	mWire "github.com/go-micro/microwire/wire"
	"github.com/google/wire"
	"go-micro.dev/v4/{{Name}}"
	"go-micro.dev/v4/util/cmd"
)

type DiFlags struct {
	Plugin    string
	{{di_go.DiFlags.Fields}}
}

// DiConfig is marker that DiFlags has been parsed into Config
type DiConfig struct{}

const (
	cliArgPlugin  = "{{Name}}"
	{{di_go.Consts}}
)

func ProvideFlags(
	config *ConfigStore,
	cliConfig *mCli.ConfigStore,
	c mCli.CLI,
) (*DiFlags, error) {
	if cliConfig.NoFlags {
		// Defined silently ignore that
		return &DiFlags{}, nil
	}

	result := &DiFlags{}

	if err := c.Add(
		mCli.Name(mCli.PrefixName(cliConfig.ArgPrefix, cliArgPlugin)),
		mCli.Usage("{{di_go.ProvideFlags.Plugin.Usage}}"),
		mCli.Default(config.Plugin),
		mCli.EnvVars(mCli.PrefixEnv(cliConfig.ArgPrefix, cliArgPlugin)),
		mCli.Destination(&result.Plugin),
	); err != nil {
		return nil, err
	}

	{{di_go.ProvideFlags.Body}}

	return result, nil
}

func ProvideDiConfig(
	// Stage2Config must have been populated before
	_ mWire.DiStage2ConfigStore,

	diFlags *DiFlags,
	cliConfig *mCli.ConfigStore,
	config *ConfigStore,
) (DiConfig, error) {
	if cliConfig.NoFlags {
		// Defined silently ignore that
		return DiConfig{}, nil
	}

	defCfg := NewConfigStore()
	defCfg.Plugin = diFlags.Plugin
	{{di_go.ProvideDiConfig.Body}}
	if err := config.Merge(&defCfg); err != nil {
		return DiConfig{}, err
	}

	return DiConfig{}, nil
}

func Provide(
	// We want config at Stage3 (compile->files->flags|env)
	_ mWire.DiStage3ConfigStore,

	config *ConfigStore,

	// Marker so cli has been merged into Config
	_ DiConfig,
) ({{Name}}.{{CapsName}}, error) {
	if !config.Enabled {
		// Not enabled silently ignore that
		return nil, nil
	}

	b, err := Plugins.Get(config.Plugin)
	if err != nil {
		var ok bool
		if b, ok = cmd.Default{{PluralCapsName}}[config.Plugin]; !ok {
			return nil, fmt.Errorf("unknown {{Name}}: %v", err)
		}
	}

	{{di_go.Provide.Body}}

	return b(opts...), nil
}

var DiSet = wire.NewSet(ProvideFlags, ProvideDiConfig, Provide)
